.subheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 1120px;
    height: 248px;
}

.subheader p {
    padding: 64px 0px;
    margin: 0px;
    font-weight: 500;
    font-size: 48px;
    line-height: 120px;
}